{% extends "match/base.html" %}

{% block title %}Ping Pong{% endblock %}

{% block main_content %}
{% load humanize %}

<div clas="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>Games</h3>
        <table class="table results-table">
            {% for game in games %}
                <tr>
                    <td>
                      <a href="{{ game.get_absolute_url }}">{{ game.name }}</a>
                    </td>
                    <td align="right">
                        {{ game.total_participants }} Participants
                    </td>
                    <td align="right">
                        {{ game.total_matches }} Matches
                    </td>
                </tr>
            {% empty %}
                <tr><td>Nothing yet.</td></tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
