<!DOCTYPE html>
<html>
<head>
    <title>Sign in to Oidr</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load compressed %}
    {% compressed_css 'app' %}
    {% compressed_js 'app' %}
</head>
<body class="sign-in">
    <div class="container-fluid">
      <form method="post" action="." class="form-signin" role="form">
        <h2>Please sign in</h2>
          {% if form.errors %}
          <p>Your username and password didn't match.  Please try again.</p>
          {% endif %}
        <input id="id_username" type="text" class="form-control" placeholder="Username" name="username" required autofocus />
        <input id="id_password" type="password" name="password" class="form-control" placeholder="Password" required />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <input type="hidden" name="next" value="/" />
        {% csrf_token %}
      </form>
    </div>
</body>
</html>
