{% extends "match/base.html" %}

{% block main_content %}

  {% if form.errors %}
    <p>Invalid options.  Please try again.</p>
  {% endif %}

  <div>
    Note: unless otherwise agree upon, the winner should enter the match
    details.  This will avoid duplicate submissions.  If the winner
    doesn't want to claim their victory, that's their problem.
  </div>


  <form method="post" action=".">
      {{ formset.as_p }}
      <p><label for="id_results">Results:</label>
      {{ form.results }}</p>
      <p>
      If applicable, put how many games the winner won and that the
      loser won.  A best of three with a two to one finish would be
      "2-1".
      </p>
    <input type="submit" value="Submit" />
    <input type="hidden" name="next" value="/" />
    {% csrf_token %}
  </form>

{% endblock %}
