{% extends "match/base.html" %}

{% block title %}Oidr - Submit Match{% endblock %}

{% block main_content %}

  <div class="row">
      <div class="col-md-8 col-md-offset-2">
          {% if form.errors %}
            <p>Invalid options.  Please try again.</p>
          {% endif %}

          <div>
            Note: unless otherwise agree upon, the winner should enter the match
            details.  This will avoid duplicate submissions.  If the winner
            doesn't want to claim their victory, that's their problem.
          </div>
            <br />

          <form method="post" action="." class="form-horizontal">
              {{ formset.management_form }}
              {% for f in formset %}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="{{ f.winner.id_for_label }}">Winner</label>
                    <div class="col-sm-6">
                        {{ f.winner }}
                    </div>
                </div>
              {% endfor %}

              {% for f in formset %}
              <div class="form-group">
                  <label class="col-sm-2 control-label" for="{{ f.loser.id_for_label }}">Loser</label>
                  <div class="col-sm-6">
                      {{ f.loser }}
                  </div>
              </div>
              {% endfor %}

              <div class="form-group">
                  <label for="id_results" class="col-sm-2 control-label">Results</label>
                  <div class="col-sm-6">
                      {{ form.results }}
                      <span class="help-block">If applicable, put how many games the winner won and that the
              loser won.  A best of three with a two to one finish would be
              "2-1".</span>
                  </div>
              </div>
            <input type="submit" value="Submit" class="btn btn-primary" />
            <input type="hidden" name="next" value="/" />
            {% csrf_token %}
          </form>
      </div>
  </div>

{% endblock %}
