{% extends "match/base.html" %}

{% block title %}Ping Pong{% endblock %}

{% block main_content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>{{ who.username }} history</h3>
        <table class="table results-table">
        {% for match in matches %}
            <tr>
            {% if who.username in match.match_winners %}
                <td class="name">
                    {{ match.match_winners|join:' and ' }} <span class="beat">beat</span> {{ match.match_losers|join:' and ' }}
                </td>
            {% else %}
                <td class="name">
                    {{ match.match_losers|join:' and ' }} <span class="lost">lost to</span> {{ match.match_winners|join:' and ' }}
                </td>
            {% endif %}
            <td>{% if match.results %}({{ match.results }}){% endif %}</td>
            <td align="right">{{ match.timestamp }}</td>
        {% empty %}
            <tr><td>Nothing yet.</td></tr>	</tr>
        {% endfor %}
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>{{ who.username }} records</h3>
        <table class="table results-table">
            {% for record in records %}
                <tr>
                    <td class="name">
                        <a href="/{{ selected_game_type.slug|safe }}/user/{{ who.username }}/versus/{{ record.name }}/">{{ record.name }}</a>
                    </td>
                    <td>{{ record.wins }} - {{ record.losses }}</td>
                    <td>({{ record.percentage }})</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
