{% extends "match/base.html" %}

{% block title %}Ping Pong{% endblock %}

{% block main_content %}

<div class="history">
	<div class="history_title">{{ who.username }} history:</div>
	<table>
	{% for match in matches %}
		<tr>
		{% ifequal who match.winner %}
			<td>{{ match.winner.username }}</td>
			<td><span class="beat">beat</span></td>
			<td>{{ match.loser.username }}</td>
		{% else %}
			<td>{{ match.loser.username }}</td>
			<td><span class="lost">lost to</span></td>
			<td>{{ match.winner.username }}</td>
		{% endifequal %}
		<td>{% if match.results %}({{ match.results }}){% endif %}</td>
		<td>on {{ match.timestamp }}</td>
	{% empty %}
		<tr><td>Nothing yet.</td></tr>	</tr>
	{% endfor %}
	</table>
</div>

<div class="records">
	<div class="records_title">{{ who.username }} records:</div>
	{% for record in records %}
	<div>
		<a href="/user/{{ who.username }}/versus/{{ record.name }}/">{{ record.name }}</a>:
		{{ record.wins }} - {{ record.losses }}
		({{ record.percentage }})
	</div>
	{% endfor %}
</div>

{% endblock %}
