{% extends "match/base.html" %}

{% block title %}Oidr - {{ selected_game_type.name }} - {{ who.username }} v. {{ opponent.username }}{% endblock %}


{% block main_content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>{{ who.username }} versus {{ opponent.username }} history</h3>
        <table class="table results-table">
        {% for match in matches %}
            <tr>
            {% if who.username in match.match_winners %}
                <td class="name">
                    {{ match.match_winners|join:' and ' }}
                    <span class="beat">beat</span>
                    {{ match.match_losers|join:' and ' }}
                </td>
            {% else %}
                <td>
                    {{ match.match_losers|join:' and ' }}
                    <span class="lost">lost to</span>
                    {{ match.match_winners|join:' and ' }}
                </td>
            {% endif %}
            <td>{% if match.results %}({{ match.results }}){% endif %}</td>
            <td align="right">{{ match.timestamp }}</td>
            </tr>
        {% empty %}
            <tr><td>Nothing yet.</td></tr>
        {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
