{% extends "base.html" %}

{% block main_content %}

  {% if form.errors %}
    <p>There was a problem.  Please try again.</p>
  {% endif %}

  <div>Change Password</div>
  <form method="post" action=".">
    <p><label for="id_old_password">Old Password:</label>
      {{ form.old_password }}</p>
    <p><label for="id_new_password1">Password:</label>
      {{ form.new_password1 }}</p>
    <p><label for="id_new_password2">Password (again):</label>
      {{ form.new_password2 }}</p>
    <input type="submit" value="Submit" />
    <input type="hidden" name="next" value="/" />
    {% csrf_token %}
  </form>

{% endblock %}
