{% extends "base.html" %}

{% block main_content %}

  {% if form.errors %}
    <p>Invalid options.  Please try again.</p>
  {% endif %}

  <form method="post" action=".">
      <p><label for="id_winner">Winner:</label>
      {{ form.winner }}</p>
      <p><label for="id_loser">Loser:</label>
      {{ form.loser }}</p>
      <p><label for="id_results">Results:</label>
      {{ form.results }}</p>
      <p>
      Put the winner's score first, so if the winner won the
      first game 21-15, lost the second 21-18 and won the third 24-22,
      then put "21-15,18-21,24-22".  (Leave blank if you don't care.)
      </p>
    <input type="submit" value="Submit" />
    <input type="hidden" name="next" value="/" />
    {% csrf_token %}
  </form>

{% endblock %}
